.main-player 
.jp-interface {
     background-color: #333;
    border-top: 1px solid rgba(0,0,0,.15);
    height: 46px;
    visibility: visible;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
 
.main-player 
div.jp-controls-holder {
    clear: both;
    width:1240px;
    margin: 0 auto;
    top: 0 !important;
    position: relative;
    overflow:hidden;
}

.main-player 
a.jp-play,
.main-player 
a.jp-pause {
    width:40px;
    height:35px;
    float:left;
    text-indent:-9999px;
    outline:none;
}
 
.main-player a.jp-play {
    background: url(/assets/svg/play.svg) no-repeat 55% center;
    width: 46px;
    margin: 0 6px;
}
 
.main-player a.jp-pause {
    background: url("../img/sprite.png") -40px 0 no-repeat;
    background-size: 200px;
    background-repeat: no-repeat;
    display: none;
}
.main-player 
 .separator {
    background-image:url("../img/seperator.png");
    background-repeat:no-repeat;
    width: 2px;
    height: 35px;
    float:left;
    margin-top: 7px;
    margin-right: 10px;
}
.main-player 
.jp-progress {
    position: inherit !important;
    top: 0 !important;
    background-color: #ccc;
    width:480px;
    height:3px;
    float:left;
    margin-top: 19px;
    height: 2px !important;

}
.main-player 
.jp-seek-bar {
    width:0px;
    height:100%;
    cursor: pointer;
}
 .main-player 
.jp-seeking-bg {
    background:#f2f2f2;

    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
 .main-player 
.jp-play-bar {
    background-color: #f50;
    width:0px;
    height:3px;
    position:relative;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    overflow: visible;

}
 .main-player 
.jp-play-bar span {
    position:absolute;
    top: -8px;
    right: -12px;
    background:url("../img/handle.png") no-repeat center;
    width: 16px;
    height: 17px;
}
.main-player 
a.jp-repeat{
    text-indent:-9999px;
    float:left;
    outline:none;
    width: 19px;
    height: 38px;
    margin-right: 10px;
    background:url("../svg/repeat-track.svg") no-repeat center;
}
.main-player 
a.jp-state-looped a.jp-repeat:focus{
    background:url("../svg/repeat-track-active.svg") no-repeat center;
}
.main-player 
.jp-current-time,
.main-player 
.jp-duration {
    font-size:11px;
    font-family:Arial;
    color:#444444;
    margin-top: 12px;
    float:left;
}
.main-player 
.jp-current-time {
    float: left;
    display:inline;
    margin-right: 10px;
    color: #f50;
    text-align: right;
}
.main-player 
.jp-duration {
    float: left;
    display:inline;
    text-align: right;
    margin-left: 10px;
}
.main-player 
.jp-audio .jp-current-time {
    margin-left:10px;
}
.main-player 
.jp-audio .jp-duration {
    margin-right:10px;
}
.main-player 
.time-sep {
    float:left;
    margin: 13px 3px 0 3px;
    font-size:11px;
    font-family:Arial;
    color:#444444;
}
.main-player 
.jp-audio a.jp-mute,
.jp-audio a.jp-unmute {
    text-indent:-9999px;
    float:left;
    height: 35px;
    margin-left: 10px;
    outline:none;
}
 .main-player 
.jp-mute {
 float:left;
    margin-top: -5px;
    margin-left: -10px;
    display: block;
    border: 0;
    background: url(/assets/svg/volume-max.svg) no-repeat left center !important;
    outline: 0;
    width: 20px;
    height: 46px;
}
 .main-player 
a.jp-unmute {
   float:left;
  /*     background: url(/assets/svg/volume-muted.svg);*/
    margin-top: 1px;
    margin-left: -10px;
    /*width: 35px;*/
    display: block;
    border: 0;
    background: url(/assets/svg/volume-muted.svg) no-repeat left center;
    outline: 0;
    width: 20px;
    height: 46px;
}
 .main-player 
.jp-volume-bar {
    float:left;
    margin-top: 17px;
    margin-right: 10px;
    overflow:hidden;
    width:70px;
    height:3px;
    cursor: pointer;
    top: 0 !important;
    left: inherit !important;
    background: #ccc;
     position:inherit !important;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
 
    -webkit-box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
    box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
}
 .main-player 
.jp-volume-bar-value {
    background: transparent;
    width:0px;
    height:3px;
    position: relative;
    background: #f50;
    z-index: 1000;
}
 .main-player 
.jp-volume-bar-value span,
.main-player 
.jp-volume-bar-value .handle {
    position:absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
    background:url(../img/volume.png) no-repeat center;
    width: 11px;
    height: 4px;
        height: 1px;
    background-color: #f50;
    transition: width 50ms;
}
.main-player 
.jp-full-screen {
    background: url(../img/sprite.png) -150px 0 no-repeat;
    float:left;
    width: 40px;
    height: 35px;
    text-indent:-9999px;
    margin-left: -15px;
    outline:none;
}
 .main-player 
.jp-restore-screen {
    background: url(../img/sprite.png) -150px 0 no-repeat;
    float:left;
    width: 40px;
    height: 35px;
    text-indent:-9999px;
    margin-left: -15px;
    outline:none;
}


/** SOUND BADGES */
.main-player 
.avatar {
    margin: 8px 10px 0 0;
    float: left;
}
.main-player 
.sc-media-image img, .sc-media-extra img, .sc-media-object, .sc-media-image .sc-artwork, .sc-media-extra .sc-artwork {
    display: block;
}
.main-player 
.sc-artwork {
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}
.main-player 
.image__full,
.main-player  .image {
    text-align: center;
    position: relative;
}
.main-player 
.titleContextContainer {
    margin: 8px 10px 0 0;
    float: left;
    width: 250px;
    margin-right: 20px;
    margin-top: 22px;
    line-height: 1.2em;
    position: relative;
    display: block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.main-player 
.context {
    font-size: 11px;
    line-height: 16px;
}
.main-player 
.context, .title {
    display: block;
    width: 100%;
    text-decoration: none;
}
.main-player 
.sc-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}
.main-player 
a.sc-link-light {
    color: #999;
    text-decoration: none;
}
.main-player 
.title, .title:visited {
    font-size: 11px;
    color: #666;
}
